---
import Layout from "@layouts/Layout.astro";
import { getDocuments, getAllPAges } from "@lib/fetchData";

export async function getStaticPaths() {
  const docs = await getDocuments();
  return docs?.map((item: any) => {
    const 
    return { params: { slug: item.slug } };
  });
}
const { slug, page }: any = Astro.params;
const docs = await getDocuments();
const doc = docs.allDocuments?.find((d: any) => d.slug === slug);
const pages = await getAllPAges()

const data = page.find((p:any)=> slug.contains(p.slug  && p.docs?.[0].id ===doc.id )
---

<Layout title={data.title}>
  <div>Detail of {page}!</div>
  <h1>{data.title}</h1>
  <div>
    page body
  </div>
</Layout>
