---
import Layout from "@layouts/Layout.astro";
import { getDocuments } from "@lib/fetchData";
// import { getCollection } from "astro:content";
// const docs = await getCollection("docs");
const docs = await getDocuments();
---

<Layout title='Welcome to Astro.'>
  <div class='w-full mx-auto p-16'>
    <div class='w-full prose prose-xl'>
      <h1>Hello World</h1>
      <div class='w-full grid grid-cols-3 gap-4'>
        {
          docs?.map((item: any) => {
            return (
              <a href={`/docs/${item.slug}`}>
                <div>
                  <h4>{item.title}</h4>
                  <p>{item.version}</p>
                </div>
              </a>
            );
          })
        }
      </div>
    </div>
  </div>
</Layout>
