---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<div class="card bg-base-300 w-96 shadow-xl">
  <div class="card-body">
    <h2 class="card-title text-secondary">{title}</h2>
    <p class="text-base-content/90">{body}</p>
    <div class="card-actions justify-end">
      <a href={href} class="btn btn-primary text-primary-content font-bold"
        >{href}</a
      >
    </div>
  </div>
</div>
